<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
	Options +FollowSymlinks
	RewriteCond %{HTTP_HOST} ^fdzsa.ch$
	RewriteRule ^(.*) http://www.fdzsa.ch/$1 [QSA,L,R=301]
</IfModule>